body {
    padding-top: 50px;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.table {
    margin-top: 20px;
}

.btn {
    margin-top: 20px;
}

.header-img {
    width: 80px;
    margin-right: 12px;
}

header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

nav ul li a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 1.5rem;
    flex-grow: 1;
    text-align: center;
    color: #ffffff;
}

.content {
    max-width: 600px;
    margin: auto;
    padding: 0 15px;
}

.site-footer {
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    margin-top: 3rem;
}

.titulo {
    font-size: 1.5rem;
    flex-grow: 1;
    text-align: center;
    color: #ffffff;
}

.profile-card {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    margin: auto;
    margin-top: 50px;
}

.profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.location {
    color: #007bff;
    font-size: 14px;
    margin: 5px 0;
}

.description {
    color: white;
    font-size: 14px;
    margin: 10px 0;
    font-style: italic;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    display: block;
    width: 100%;
    padding: 10px 0;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    background-color: #3a3a3a;
    transition: background-color 0.3s;
}

.button.github {
    background-color: #007bff;
    color: black;
}

.button:hover {
    background-color: #4a4a4a;
}

@media (max-width: 767px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .nav {
        margin-top: 20px;
    }
}