:root {
    --primary-color: #007bff;
    --secondary-color: #f8f9fa;
    --dark-color: #000000;
    --light-color: #ffffff;
    --border-color: #dee2e6;
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    --transition-duration: 0.2s;
}

/* Contenedor */
.container-fluid {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.table,
.btn {
    margin-top: 20px;
}

/* Encabezado */
header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-color);
    padding: 10px 0;
}

.header-img {
    width: 80px;
    margin-right: 12px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--light-color);
}

nav ul li a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 1.5rem;
    flex-grow: 1;
    text-align: center;
    color: var(--light-color);
}

.content {
    max-width: 600px;
    margin: auto;
    padding: 0 15px;
}

.site-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 1rem;
    margin-top: 3rem;
}

.titulo {
    font-size: 1.5rem;
    flex-grow: 1;
    text-align: center;
    color: var(--light-color);
}

/* Tarjetas */
.card {
    background-color: var(--secondary-color);
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    box-shadow: var(--box-shadow);
    transition: transform var(--transition-duration);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.card a.btn {
    margin-top: auto;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card-container .card {
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    box-sizing: border-box;
}

/* Media Queries */
@media (max-width: 767px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    nav {
        margin-top: 20px;
    }

    .card-container .card {
        flex: 1 1 calc(100% - 20px);
        max-width: calc(100% - 20px);
    }

    .container .d-flex {
        flex-direction: column;
        padding: 1rem;
    }

    .container .d-flex img {
        margin-left: 0;
        margin-top: 10px;
    }
}

.container .d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .d-flex h2 {
    margin: 0;
}

.container .d-flex img {
    margin-left: 15px;
}

main .text-center {
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 8px;
}

.search-section .content {
    background-color: var(--light-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
}

.shadow-sm {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* Perfil */
.profile-card {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    margin: 50px auto 0;
}

.profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.location {
    color: var(--primary-color);
    font-size: 14px;
    margin: 5px 0;
}

.description {
    color: var(--light-color);
    font-size: 14px;
    margin: 10px 0;
    font-style: italic;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    display: block;
    width: 100%;
    padding: 10px 0;
    color: var(--light-color);
    text-decoration: none;
    border-radius: 5px;
    background-color: #3a3a3a;
    transition: background-color 0.3s;
}

.button.github {
    background-color: var(--primary-color);
    color: #000;
}