:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-light-gray: #f8f9fa;
    --color-gray: #dee2e6;
    --color-blue: #007bff;
    --color-dark-gray: #1e1e1e;
    --color-button-gray: #3a3a3a;
    --color-primary: #007bff;
    --color-secondary: #6c757d;
    --color-success: #28a745;
    --color-info: #17a2b8;
    --color-warning: #ffc107;
    --color-danger: #dc3545;
    --color-light: #f8f9fa;
    --color-dark: #343a40;

    --spacing-small: 10px;
    --spacing-medium: 15px;
    --spacing-large: 20px;

    --font-size-small: 0.875rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.25rem;
    --font-size-xlarge: 2rem;

    --color-background-light: #ffffff;
    --color-text-light: #000000;
    --color-background-dark: #1e1e1e;
    --color-text-dark: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-light-gray);
    margin: 0;
    padding: 0;
}

body.light-theme {
    background-color: var(--color-background-light);
    color: var(--color-text-light);
}

body.dark-theme {
    background-color: var(--color-background-dark);
    color: #ffffff;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-light-gray: #1e1e1e;
    --color-gray: #343a40;
    --color-blue: #17a2b8;
    --color-dark-gray: #f8f9fa14;
    --color-button-gray: #6c757d;
    --color-primary: #007bff;
    --color-secondary: #6c757d;
    --color-light: #dee2e6;
    --color-dark: #00000000;
    --color-background-light: var(--color-background-dark);
    --color-text-light: var(--color-text-dark);
}

button {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    padding: var(--spacing-small) var(--spacing-medium);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--color-secondary);
}

body.dark-theme button {
    background-color: var(--color-primary);
    color: var(--color-white);
}

body.dark-theme button:hover {
    background-color: var(--color-secondary);
}

main .text-center {
    padding: var(--spacing-large);
    background-color: var(--color-light);
    border-radius: 8px;
}

body.dark-theme main .text-center {
    background-color: var(--color-dark);
}

.search-section .content {
    background-color: var(--color-white);
    border: 1px solid var(--color-gray);
    border-radius: 8px;
    padding: var(--spacing-medium);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

body.dark-theme .search-section .content {
    background-color: var(--color-dark-gray);
    border: 1px solid var(--color-gray);
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.1);
}

body.dark-theme .card-body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: var(--spacing-medium);
    background-color: var(--color-background-dark)
}

.container-fluid {
    width: 100%;
    padding-right: var(--spacing-medium);
    padding-left: var(--spacing-medium);
    margin-right: auto;
    margin-left: auto;
}

.table,
.btn {
    margin-top: var(--spacing-large);
}

.header-img {
    width: 80px;
    margin-right: var(--spacing-medium);
}

header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-black);
    padding: var(--spacing-small) 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: var(--spacing-medium);
}

nav a {
    text-decoration: none;
    color: var(--color-white);
    transition: color 0.3s;
}

nav a:hover {
    color: var(--color-primary);
}

h1 {
    font-size: var(--font-size-xlarge);
    flex-grow: 1;
    text-align: center;
    color: var(--color-white);
}

.content {
    max-width: 600px;
    margin: auto;
    padding: 0 var(--spacing-medium);
}

.site-footer {
    background-color: var(--color-black);
    color: var(--color-white);
    text-align: center;
    padding: var(--spacing-large);
    margin-top: 3rem;
}

.titulo {
    font-size: var(--font-size-xlarge);
    color: var(--color-white);
}

.card {
    background-color: var(--color-white);
    border: 1px solid var(--color-gray);
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card-body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: var(--spacing-medium);
}

.card-title {
    font-size: var(--font-size-large);
    font-weight: bold;
    margin-bottom: var(--spacing-large);
}

.card-text {
    font-size: var(--font-size-medium);
    margin-bottom: var(--spacing-large);
}

.card a.btn {
    margin-top: auto;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-large);
    justify-content: center;
}

.card-container .card {
    flex: 1 1 calc(33.333% - var(--spacing-large));
    max-width: calc(33.333% - var(--spacing-large));
    box-sizing: border-box;
}

@media (max-width: 767px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .nav {
        margin-top: var(--spacing-large);
    }

    .card-container .card {
        flex: 1 1 calc(100% - var(--spacing-large));
        max-width: calc(100% - var(--spacing-large));
    }

    .container .d-flex {
        flex-direction: column;
        padding: var(--spacing-large);
    }

    .container .d-flex img {
        margin-left: 0;
        margin-top: var(--spacing-small);
    }
}

.container .d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .d-flex h2 {
    margin: 0;
}

.container .d-flex img {
    margin-left: var(--spacing-medium);
}

.shadow-sm {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.profile-card {
    background-color: var(--color-dark-gray);
    padding: var(--spacing-large);
    border-radius: 10px;
    text-align: center;
    width: 300px;
    margin: auto;
    margin-top: 50px;
}

.profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: var(--spacing-large);
}

.location {
    color: var(--color-blue);
    font-size: var(--font-size-small);
    margin: 5px 0;
}

.description {
    color: var(--color-white);
    font-size: var(--font-size-small);
    margin: 10px 0;
    font-style: italic;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
}

.button {
    display: block;
    width: 100%;
    padding: var(--spacing-small) 0;
    color: var(--color-white);
    text-decoration: none;
    border-radius: 5px;
    background-color: var(--color-button-gray);
    transition: background-color 0.3s;
}

.button.github {
    background-color: var(--color-blue);
    color: var(--color-black);
}

.button:hover {
    background-color: var(--color-primary);
}

.spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}