<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador de Productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>



<body class="light-theme">
    <header class="container-fluid d-flex justify-content-between align-items-center py-3">
        <div class="d-flex align-items-center">
            <img src="{{ url_for('static', filename='img/dart3.png') }}" alt="Logo" class="header-img mr-3">
            <h1 class="m-0 titulo">Busca Precios</h1>
        </div>
        <nav class="nav-links">
            <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">PriceVista</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">Sobre Mi</a></li>
            </ul>
        </nav>
        <button id="theme-toggle">Modo Oscuro</button>
    </header>
    </div>

    <div class="container mt-5 text-center"> <!-- Agrega la clase text-center -->
        <div class="profile-card">
            <img src="{{ url_for('static', filename='img/dart3.png') }}" alt="Logo" alt="Diego Rivera"
                class="profile-picture">
            <h1>Diego Rivera</h1>
            <p class="location">Hermosillo, México</p>
            <p class="description">"Developer in progress."</p>
            <div class="buttons">
                <a href="https://github.com/dart94" class="button github" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/diego-rivera-torrero-053932129" class="button"
                    target="_blank">LinkedIn</a>
                <a href="mailto:riveratorrero@gmail.com">Enviar correo a riveratorrero@gmail.com</a>
            </div>
        </div>
    </div>


    <footer class="site-footer">


        <p> Busca precios. Todos los derechos reservados®</p>


    </footer>

    <body>

    </body>

</html>