<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador de Productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <header class="d-flex justify-content-between align-items-center py-3">
            <div class="d-flex align-items-center">
                <img src="{{ url_for('static', filename='img/dart3.png') }}" alt="Logo" class="header-img mr-3">
                <h1 class="m-0 titulo">Busca Precios</h1>
            </div>
            <nav class="nav-links">
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">Sobre Mi</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contacto</a></li>
                </ul>
            </nav>
        </header>
    </div>

    <div class="content">
        <form method="POST">
            <div class="form-group">
                <label for="palabra">Ingresa un producto:</label>
                <input type="text" class="form-control" id="palabra" name="palabra" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Buscar</button>
        </form>
    </div>
    </div>

    <footer class="site-footer">


        <p> Busca precios. Todos los derechos reservados®</p>


    </footer>
</body>

</html>