<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador de Productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <header class="container-fluid d-flex justify-content-between align-items-center py-3">
        <div class="d-flex align-items-center">
            <img src="{{ url_for('static', filename='img/dart3.png') }}" alt="Logo" class="header-img mr-3">
            <h1 class="m-0 titulo">Busca Precios</h1>
        </div>
        <nav class="nav-links">
            <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">PriceVista</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">Sobre Mi</a></li>
            </ul>
        </nav>
    </header>

    <main class="container">
        <section class="text-center mt-5">
            <h2>¡Bienvenido a Busca Precios!</h2>
            <p class="lead">Tu herramienta ideal para encontrar los mejores productos y precios en MercadoLibre.</p>
        </section>

        <section class="search-section mt-4">
            <div class="content p-4 shadow-sm rounded">
                {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endif %}
                <form method="POST">
                    <div class="form-group">
                        <label for="palabra">Ingresa un producto:</label>
                        <input type="text" class="form-control" id="palabra" name="palabra" list="suggestions" required>
                        <datalist id="suggestions">
                            <!-- Agrega opciones de ejemplo -->
                            <option value="Laptop Gamer">
                            <option value="Iphone">
                            <option value="Samsung">
                            <option value="Pc Gamer">
                        </datalist>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Buscar</button>
                </form>
                <div class="spinner-container">
                    <div id="loading-message" style="display: none;">Buscando productos...</div>
                </div>
            </div>
        </section>
    </main>

    <footer class="site-footer mt-5 p-4 text-center">
        <p>Busca precios. Todos los derechos reservados®</p>
    </footer>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>